@import '../css-config/mixins.scss';

.attendance-main{
    .top-bar{
        width: 100%;
        padding: 10px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #79c96163;
        @include md{
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        }
        .student-search-course{
            width: 30%;
        }
        .student-search-id{
            width: 30%
        }
    }
    .main-content{
        width: 100%;
    }
}