.course-main{
    .top-side{
        width: 100%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        
        border-bottom: 1px solid #79c96163;
        @include md{
        justify-content: space-between;
        flex-direction: row;
        }
    }
}
